PORT = 5001
MONGO_URI = "mongodb+srv://asavant151:asavant151@cluster0.apw8eql.mongodb.net/?appName=Postify"
JWT_SECRET = "pstify_ai_secret_jwt_key"
GEMINI_API_KEY = "AIzaSyAfeyacAuLDO6NbC7D9oFAgt3iRD2i2ydw"
HUGGINGFACE_API_KEY = "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"

CLOUDINARY_CLOUD_NAME= "do3m8poei"
CLOUDINARY_API_KEY = "666719352293464"
CLOUDINARY_API_SECRET = "MFkV8bmlESSNt78DC5UlWwV3H_c"